<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ip.cynic.dao.LinkDao">

	<resultMap type="Link" id="LinkResult">
		<result property="id" column="id"/>
		<result property="urlName" column="url_name"/>
		<result property="url" column="url"/>
		<result property="orderNo" column="order_no"/>

	</resultMap>

	<select id="findAllLink" resultMap="LinkResult">
		select * from link order by order_no;
	</select>


</mapper>
